/* Styles to allow changing colors of triangles */
.skillsImage {
	background-image: url('../../images/resume/blueTri.png');
}
	
.skillsLink:hover .skillsImage 	{
	background-image: url('../../images/resume/blueTriSelected.png');
}

.achievementsImage {
	background-image: url('../../images/resume/yellowTri.png');
	
}
	
.achievementsLink:hover .achievementsImage {
	background-image: url('../../images/resume/yellowTriSelected.png');
	
}
	
.experienceImage {
	background-image: url('../../images/resume/redTri.png');
	
}
	
.experienceLink:hover .experienceImage {
	background-image: url('../../images/resume/redTriSelected.png');
	
}
	
.technologyImage {
	background-image: url('../../images/resume/orangeTri.png');
	
}
	
.technologyLink:hover .technologyImage {
	background-image: url('../../images/resume/orangeTriSelected.png');
	
}
	
.educationImage {
	background-image: url('../../images/resume/aquaTri.png');
	
}
	
.educationLink:hover .educationImage {
	background-image: url('../../images/resume/aquaTriSelected.png');
	
}

.triangleContainer {
	vertical-align: top;
	text-align: center;
	width: 100%	
	}
	
.triangleLink {
	font-family: Verdana;
	font-size: 135%;
	color: white;
	margin-left: 10px;
	margin-right: 40px;
	vertical-align: top;
}

.triangleLinkLast {
	margin-right: 0px;
}

.triangleImage {
	position: relative;
	bottom: 0px;
	width: 35px;
	height: 35px;
}

.headingImage {
	position: relative;
	bottom: -8px;
	margin-right: 10px;
    width: 35px;
    height: 35px;
}

.download {
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: top;
	height: 40px;
	text-align: left;
	padding-left: 20%;
	}
	
.downloadColumn {
	width: 50%;
	font-family: Verdana;
	font-size: 80%;
	color: white;
	text-align: left;
	vertical-align: top;
	padding-left: 20px;
	padding-top: 10px;
}

.resumeHeading {
	width: 100%;
	text-align: center;
	font-family: Verdana;
	font-size: 300%;
	color: #E4E4E4;
	padding-top: 20px;
}
	
.resumeSubHeading {
	text-align: left;
	font-family: Verdana;
	font-size: 200%;
	color: #E4E4E4;
	padding-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
	
.resumeSubHeadingCenter {
	text-align: center;
	font-family: Verdana;
	font-size: 130%;
	color: #E4E4E4;
	padding: 20px;
}
	
.resumeContent {
	width: 60%;
	text-align: left;
	font-family: Verdana;
	font-size: 80%;
	color: #E4E4E4;
	margin-left: 20%;
	margin-right: 20%;
}
	
.resumeContentWrapper {	
	padding: 20px;
}
	
.resumeRule {
	width: 60%;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.italics {
	font-style: italic;
}
	
.black {
	color: black;
}
	
.techHeading {
	width: 200px;
	vertical-align: top;
}
	
.techContent {
	width: 80%;
	padding-left: 10px;
}

.skillsContainer {
	margin-left: 22%;
	padding: 20px;
}
	
.skillsContent {
	width: 50%;
	font-family: Verdana;
	font-size: 80%;
	color: #E4E4E4;
	padding: 5px;
}

.highlight {
	background-color: #9A9A9A;
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
}
	
.highlightInset {
	width: 200px;
	background-color: #9A9A9A;
	padding: 20px;
}
	
.highlightContent {
	text-align: left;
	font-family: Verdana;
	font-size: 80%;
	color: black;
	padding-top: 10px;
}

.achievements {
	padding-top: 10px;
	font-family: Verdana;
	font-size: 80%;
	color: black;
}
	
.rounded {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}
