.projectHeading {
	padding: 20px;
	font-family: Verdana;
	font-size: 130%;
	color: #E4E4E4;
}
	
.center {
	text-align: center;
}
	
.projectHighlight {
	background-color: #9A9A9A;
	padding: 20px;
}
	
.projectLabel {
	font-weight: bold;
	font-family: Verdana;
	font-size: 90%;
	width: 30%;
}
	
.projectDescription {
	font-family: Verdana;
	font-size: 90%;
	width: 65%;
	vertical-align: top;
	font-size: 100%;
}
	
.projectPadding {
	padding: 10px;
}
	
.projectLink {
	text-decoration: none;
	color: white;
}
	
.projectLink:hover {
	cursor: pointer;
}

.projectImg {
    width: 50px;
    height: 15px;
}