.footer {	
	display: flex;
	width: 100%;
	min-width: 1024px;
	height: 75px;
	background-color: #9A9A9A;
	border-top: 2px solid black;
	text-align: center;
	align-items: center;
	margin-top: auto;
}

.footerInner {
	padding: 5px;
}