.App {
  text-align: center;
}

.inline {
  display: inline-block;
}

.wordWrap {
	white-space: pre-line;      
  word-wrap: break-word;      
}

body {
  background-color: #434343;
}

.content {	
	margin-right: 76px;
	padding-bottom: 32px;
	min-height: calc(100% - 200px);
	width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'Spinnaker';
  src: 	url('./fonts/Spinnaker-Regular.woff2') format('woff'), /* Modern Browsers */
  url('./fonts/Spinnaker-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Dancing Script';
  src: 	url('./fonts/DancingScript-Regular.woff2') format('woff'), /* Modern Browsers */
  url('./fonts/DancingScript-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}