.App {
  text-align: center;
}

.inline {
  display: inline-block;
}

.wordWrap {
	white-space: pre-line;      
  word-wrap: break-word;      
}

body {
  background-color: #434343;
}

@font-face {
  font-family: 'Spinnaker';
  src: 	url('./fonts/Spinnaker-Regular.woff2') format('woff'), /* Modern Browsers */
  url('./fonts/Spinnaker-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'DancingScript';
  src: 	url('./fonts/DancingScript-Regular.woff2') format('woff'), /* Modern Browsers */
  url('./fonts/DancingScript-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
